{% extends 'base.html.twig' %}

{% block title %}Answers index{% endblock %}

{% block body %}
    <h1>Answers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Answer_text</th>
                <th>Answer_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.answerText }}</td>
                <td>{{ answer.answerDate ? answer.answerDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('answers_show', {'id': answer.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('answers_new') }}">Create new</a>
{% endblock %}
